@model IEnumerable<Mobius.Models.Product>

@{
    ViewBag.Title = "Visualizar seus Produtos";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Novo Produto", "Create", null, new { @class = "btn btn-success" })
</p>

@if (Model.Count() < 1)
{
    <strong>Você não possui nenhum produto cadastrado!</strong>
}
else
{
    foreach (var item in Model)
    {
        @Html.Partial("_ProductFragment", item)
    }
}
